.about {
    line-height: 1.5rem;
    font-size: medium;
}

.about h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem; 
}

.about p {
    margin: 1rem 0px;
    margin-bottom: 0rem;
}

.about a {
    text-decoration: none;
    color: inherit;
}

.about ul, ol {
    margin-left: 2rem;
}
